@model COVID_Cases.Models.RegionsViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>TOP 10 COVID CASES</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        @Html.DropDownListFor(x => x.iso, Model.Regions, new { @class = "form-control" })
        <button type="button" class="btn btn-primary" id="btnReport">Report</button>
        <button type="button" class="btn btn-warning">XML</button>
        <button type="button" class="btn btn-success">JSON</button>
        <button type="button" class="btn btn-info">CSV</button>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">REGION</th>
                    <th scope="col">CASES</th>
                    <th scope="col">DEATH</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.dataCountries)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <p class="form-control-static">@Html.DisplayFor(modelItem => item.cases)</p>
                    </td>
                    <td>
                        <p class="form-control-static">@Html.DisplayFor(modelItem => item.deaths)</p>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnReport").click(function () {
                var select = $('#iso').val();
                alert('Selected = ' + select);
            });
        });
    </script>

}
